<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Style/MasterPage.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Style/EventList.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="page-header main-padding">
        <nav class="navigation">
            <ul class="menu">
                @{ string routeName = ViewContext.RouteData.DataTokens.Values.ElementAt(0).ToString();
                }

                @if (routeName == "Home" || routeName == "Default")
                {
                    <li class="item active">
                        <p>Home</p>
                    </li>
                }
                else
                {
                    <li class="item">
                        @Html.RouteLink("Home", "Home")
                    </li>
                }
                @if (routeName == "EventList")
                {
                    <li class="item active">
                        <p>List</p>
                    </li>
                }
                else
                {
                    <li class="item">
                        @Html.RouteLink("List", "EventList")
                    </li>
                }
            </ul>
        </nav>

    </header>
    <div class="content main-padding">
        @RenderBody()
    </div>
</body>
</html>
