@model IEnumerable<ProjectXXX.Models.Event>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EventList</h2>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>From</td>
            <td>To</td>
            <td>Location</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var element in Model)
            {
                <tr>
                    <td>@element.ID</td>
                    <td>@Html.RouteLink("Description", "Description", new { id = element.ID})</td>
                    <td>@element.Description</td>
                    <td>@element.From.ToShortDateString()</td>
                    <td>@element.To.ToShortDateString()</td>
                    <td>@element.Location</td>
                </tr>
            }
        }
    </tbody>
</table>
